@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(37, 150, 190);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://images.prismic.io/star-trek-untold/YjRkMDRmYTUtZDdkZS00ZGM0LWE3YWEtNTgyODhkMzUzMWNk_essay_rr_what-is-a-galaxy.jpg?auto=compress,format&rect=0,0,2000,1080&w=2000&h=1080");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

